/.idea
/.docker
/.envs/
/renders
/volumes
.env
.*.env.*
.DS_Store
*.log
*.pot
*.sh
/rendering/static/
/rendering/memo.sqlite
/rendering/settings.py
__pycache__/
# dependencies

node_modules
/.pnp
.pnp.js

# testing
coverage

# production
build

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

rendering/frontend/node_modules
rendering/webapp/static
webpack-stats.json
