Django==3.1.4
django-concurrency
django-cors-headers
django-admin-list-filter-dropdown==1.0.2
dj-database-url
python-dotenv
social-auth-app-django
wcmatch
Pillow
gunicorn
pika
channels
channels_redis
psutil
django-sslserver==0.22
django-webpack-loader==0.7.0
djangorestframework==3.12.4
django-filter==2.4.0
django-extensions==3.1.2
django-redis-cache==3.0.0
celery==5.0.5
