{% extends "webapp/base.html" %}
{% load static %}

{% block content %}
	<div class="container mt-4">
		<h1>Finishes Sketchbook</h1>

		<div class="row mt-3">
      {% for product in product_list %}
	        <a class="col-3 text-center my-4" href="{{ product.id }}">
	          <img src="{% if product.swatch %}/{{product.swatch}}{%else%}{%static 'furniture/swatches/unknown.jpg'%}{%endif%}"
	               class="card-img-top"
	               alt="{{product.name}}">

	          {{ product.name }}
	        </a>
      {% endfor %}
    </div>
	</div>
{% endblock %}
