{% load static %}

{% block server %}
  {% if server %}
    <form method="POST" class="order-form">{% csrf_token %}
        <div class="row">
            <!--div class="col-xl-2 d-none d-xl-block">
                <div class="alert alert-success" role="alert">Engine: Blender 2.82</div>
            </div>
            <div class="col-xl-2 d-none d-xl-block">
                <div class="alert alert-success" role="alert">Statictics:</div>
            </div-->
            <div class="col-md-12 col-xl-6" id="orders">
                <!--div class="alert alert-success m-1 p-1" role="alert">Orders for render:</div-->

            </div>
            <div class="col-md-12 col-xl-6" id="machines">
              <div class="alert alert-success m-1 p-1" role="alert">Render Machines:</div>
                <div class="row">
                    <div class="col-4"><div class="alert alert-secondary" role="alert">name</div></div>
                    <!--div class="col-2"><div class="alert alert-secondary" role="alert">working</div></div-->
                    <div class="col-4"><div class="alert alert-secondary" role="alert">lastRender</div></div>
                    <div class="col-4"><div class="alert alert-secondary" role="alert">activeOrder</div></div>
                </div>
              {% for m in server.machines %}
                <div class="row p-1" machine="{{m.id}}" >
                    <div class="col-4">{{m.name}}</div>
                    <!--div class="col-2">{{m.working}}</div-->
                    <div class="col-4">{{m.lastRender}}</div>
                    <div class="col-4">{{m.activeOrder_id}}</div>
                    <!--div class="col-2">
                        <button type="submit" name="stop_machine" class="btn btn-large btn-danger">Stop</button>
                    </div>
                    <div class="col-8">
                      <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-success order" role="progressbar" style="width: 0%"  aria-valuenow="0" aria-valuemin="0" aria-valuemax="10">??</div>
                      </div>
                    </div>
                    <div class="col-2">
                       <button type="submit" name="kill_processes" class="btn btn-large btn-danger">kill processes</button>
                    </div-->
                 </div>
              {% endfor %}
            </div>
        </div>
    </form>

  <template id="order-row">
    <div class="row">
        <div class="col-md-1 col-2 data id">id</div>
        <div class="col-md-3 col-6 data kind">kind</div>
        <div class="col-md-2 col-4 data machine">machine</div>
        <div class="col-md-1 col-2">
            <span class="badge"></span>
        </div>
        <div class="col-md-5 col-10">

          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success order" role="progressbar" style="width: 0%"  aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">#done</div>
          </div>
        </div>

    </div>
  </template>
  {% endif %}
{% endblock %}

{% block extra_js %}
  {% if server %}

<!--
 var get_request = $.ajax({
 type: 'GET',
 "headers": {
      "accept": "application/json",
      "Access-Control-Allow-Origin":"*"
  },
 url: 'http://example.com',
 });
-->
<script type="text/javascript">
    function ajax_get(url, callback) {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                console.log('responseText:' + xmlhttp.responseText);
                try {
                    var data = JSON.parse(xmlhttp.responseText);
                } catch(err) {
                    console.log(err.message + " in " + xmlhttp.responseText);
                    return;
                }
                callback(data);
            }
        };
        xmlhttp.open("GET", url, true);
        xmlhttp.send();
    }
    </script>

<script type="text/javascript">
  var div_orders = document.querySelector('#orders');
  var div_order_template = document.querySelector('#order-row');
  var orders = {};
 console.log("*****");

function barsAnimation(){
  ajax_get('/render/queue/', (data) => {
  // {'kind': order.kind.name, 'running': order.running, 'worker': order.worker.name, 'N': order.N, 'done': order.renders_done}
    // add new orders
    //console.log(`/render/queue/ response: ${JSON.stringify(data)}`)
    for (var oid in data){
      console.log(`queue: ${oid}-${data[oid].done}`);
      if (!(oid in orders)){
      var clone = div_order_template.content.cloneNode(true);
      var row = clone.querySelector('.row');
      row.setAttribute('order', oid);
      var cols = row.querySelectorAll('.data');
      cols[0].textContent = oid;
      cols[1].textContent = data[oid].kind;
      cols[2].textContent = data[oid].worker;
      row.querySelector('.progress-bar').setAttribute('aria-valuemax', data[oid].N);
      div_orders.appendChild(row);
      orders[oid]=row;
      }
    }
    // update or delete orders
    for (var oid in orders){
      if (!(oid in data)) {
        div_orders.removeChild(orders[oid]);
        delete orders[oid];
      } else {
          var progress = orders[oid].querySelector('.progress-bar');
          progress.setAttribute('aria-valuenow', data[oid].done);
          let percent = Math.floor((data[oid].done*100)/data[oid].N);
          progress.setAttribute('style',`width:${percent}%`);
          progress.innerHTML=`${data[oid].done}/${data[oid].N}`
          var b = orders[oid].querySelector('span.badge');
          if (data[oid].running) {
            b.classList.add('badge-success');
            b.classList.remove('badge-danger');
            b.innerHTML = 'running';
          } else {
            b.classList.remove('badge-success');
            b.classList.add('badge-danger');
            b.innerHTML = 'stopped';
          }

      }
    }
    //        var mx = parseInt(data["samples"]);
    //        cur = parseInt(data["cur_sample"]);
    //        percent = Math.floor(cur*100/mx);
  });
};

setInterval(barsAnimation, 2500);
</script>
  {% endif %}
{% endblock %}
